{{registerscript "jquery.event.move.js"}}
{{registerscript "jquery.twentytwenty.js"}}

<div class="twentytwenty-{{orientation}}">
 <!-- The before image is first -->
 <img src="{{BeforeImage}}" />
 <!-- The after image is last -->
 <img src="{{AfterImage}}" />
</div>